<!DOCTYPE html>
<html>
    <head>
        <title>MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-top">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
                <div class="search-bar">
                    <form action="/">
                        <input placeholder="Buscar productos, marcas"></input><button type="submit"><i class="fas fa-search"></i></button>
                    </form>                </div>
                <span class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
            <div class="header-bottom">
                <nav id="site-navbar">
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayudar</li>
                    </ul>
                </nav>
                <nav id="login-navbar">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <form id="register" action="/">
                <h2>Completa el formulario para registrarte</h2>
                <div class="form-input">
                    <label for="nombreyapellido"><p>Nombre y Apellido</p></label>
                    <input type="text" name="nombreyapellido" placeholder="Nombre y Apellido">
                </div>
                <div class="form-input">
                    <label for="usuario"><p>Nombre de usuari@</p></label>
                    <input type="text" name="usuario" placeholder="Nombre de usuari@">
                    <span class="feedback">El nombre de usuario no puede contener más de 8 caracteres</span>
                </div>
                <div class="form-input">
                    <label for="nac"><p>Fecha de Nacimiento</p></label>
                    <input type="date" name="nac" id="nac">
                </div>
                <div class="form-input">
                    <label for="domicilio"><p>Domicilio</p></label>
                    <input type="text" name="domicilio">
                </div>
                <div class="form-input">
                    <p>Peril de Usuario</p>
                    <input type="radio" name="perfil" value="Comprador">
                    <label for="comprador">Comprador</label><br>
                    <input type="radio" name="perfil" value="vendedor">
                    <label for="vendedor">Vendedor</label><br>
                </div>
                <div class="form-input">
                    <p>Categorías de interés</p>
                    <input type="checkbox" name="categoria-interes" value="Electro">
                    <label for="categoria-interes">Electro</label><br>
                    <input type="checkbox" name="categoria-interes" value="Moda">
                    <label for="categoria-interes">Moda</label><br>
                    <input type="checkbox" name="categoria-interes" value="Hogar">
                    <label for="categoria-interes">Hogar</label><br>
                    <input type="checkbox" name="categoria-interes" value="Juguetería">
                    <label for="categoria-interes">Juguetería</label><br>
                    <input type="checkbox" name="categoria-interes" value="Vida sana">
                    <label for="categoria-interes">Vida sana</label><br>
                </div>
                <div class="form-input">
                    <label><p>Foto de Perfil</p></label>
                    <input type="file" name="avatar" accept=".jpg">
                </div>
                <div class="form-input">
                    <label for="password"><p>Contraseña</p></label>
                    <input type="password" name="password">
                    <span class="feedback">La contraseña debe contener al menos una letra mayúscula</span>
                </div>
                <div class="form-input">
                    <label for="password-confirm"><p>Confirmar Contraseña</p></label>
                    <input type="password" name="password-confirm">
                    <span class="feedback">La contraseña no coincide</span>
                </div>
                <button type="submit">Enviar</button> 
                <input type="reset">         
            </form>
        </main>
        <footer>
            <div class="container">
                <section id="footer-items">
                    <div>
                        <i class="fas fa-credit-card"></i>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>
                    <div>
                        <i class="fas fa-gift"></i>
                        <h4>Envío gratis desde $2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio e Mercado Puntos.</p>
                    </div>
                    <div>
                        <i class="fas fa-user-shield"></i>
                        <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás estás siempre protegid@.</p>
                    </div>
                </section>
                <section id="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </section>
            </div>           
        </footer>

    </body>
</html>